body {
    margin: 0;
}

header {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 24px;
    line-height: 25.18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    width: 286.83px;
    height: 238px;    
    margin: 64px 44px;
}

section {
    width: 95%;
    margin-left: 24px;
}

.section-title {
    margin: 0;
    font-family: monospace;
    font-size: 48px;
    font-weight: 700;
}

.section-content {
    margin-top: 30px;
    font-family: monospace;
    font-size: 18px;
    width: 328px;
    line-height: 26.66px;
}

.section-button {
    margin-top: 64px;
    background: black;
    color: white;
    height: 68px;
    width: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    line-height: 21px;
}

img {
    height: 100%;
    width: 100%;
}



@media only screen and (min-width: 500px) {
    body {
        background: white;
    }

    header {
        padding-top: 40px;
        padding-left: 77px;
    }

    .container {
        margin-top: 100px;
        margin-left: 77px;
        flex-direction: row;
        gap: 100px;
    }
    
    section {
        width: 40%;
    }

    .section-title {
        font-size: 64px;
    }

    .section-content {
        width: 381px;
        font-size: 24px;
    }

    .image-container {
        width: 539.22px;
        height: 447.43px; 
    }
}